/* Custom Scrollbar Styles */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #7e37d8;
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6c2eb9;
}

/* Hide scrollbar arrows/buttons */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7e37d8 transparent;
}

.scrollbar:hover {
  scrollbar-color: #6c2eb9 transparent;
}

/* For Firefox - hide buttons (only works in some versions) */
* {
  scrollbar-width: thin;
  scrollbar-color: #7e37d8 transparent;
} 